<section class="hero {% if page.hero_height %} {{ page.hero_height }} {% else %} is-normal {% endif %} is-bold is-primary" {% if page.hero_image %} style="background: url('{{ page.hero_image }}') no-repeat center center; background-size: cover;" {% endif %}>
    <div class="hero-body">
        <div class="container">
            <p class="title is-2">{{ page.title }}</p>
            <p class="subtitle is-3">{{ page.subtitle }}</p>
        </div>
		<div class="container hero-btn">
		  <p class="buttons">
			<a class="button" href=" {{ site.github_repo }} " target="_blank">
			  <span class="icon">
				<i class="fab fa-github"></i>
			  </span>
			  <span>GitHub</span>
			</a>
			<a class="button is-outline " href=" {{ site.download_package }} " target="_blank">
			  <span class="icon ">
				<i class="fa fa-download"></i>
			  </span>
			  <span>Download</span>
			</a>
		  </p>
		</div>
    </div>
</section>
